.login {
    height: calc(100vh - 45px);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    font-family: 'Varela Round', san-serif;
    color: #5d4954;
}

.form-msg {
    color: coral;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.loginTitle {
    color: #5d4954;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    font-weight: 400;
}

.loginForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
}

.loginForm>label {
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 1.1rem;
}

.loginForm>input {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 250px;
    margin-bottom: 1.3rem;
}

.btn {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    width: 250px;
    border: none;
    padding: .45rem 1rem;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    background-color: teal;
    font-family: 'Varela Round', sans-serif;
    font-weight: 200;
}

.forgot-password {
    color: blue;
    font-size: .851rem;
    margin-top: .71rem;
    font-weight: 400;
}