nav {
    min-height: 12vh;
    font-family: 'Varela Round', sans-serif;
    background-color: #fff;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #5d4954;
}

.logo {
    color: #5d4954;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
}

.nav-links {
    background-color: #fff;
    position: absolute;
    right: 0;
    height: 90vh;
    top: 10vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform .5s ease-in;
    z-index: 10;
}

.links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.nav-links li {
    opacity: 1;
}

.nav-active {
    transform: translateX(0%);
}

.link {
    color: #5d4954;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1rem;
}

.nav-links li {
    list-style-type: none;
}

.burger>div {
    background-color: #5d4954;
    width: 25px;
    height: 3px;
    margin: 5px;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: transform .5s ease;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    transition: transform .5s ease;
}

@media(min-width: 768px) {
    .logo {
        margin-left: 1rem;
        font-size: 1rem;
        flex: 3;
    }
    .nav-links {
        flex: 9;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 10vh;
        top: 0;
        transform: none;
    }
    .links {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
    }
    .links-center {
        width: 55%;
    }
    .links-right {
        width: 35%;
    }
    .burger {
        display: none;
    }
    .nav-links li {
        opacity: 1;
    }
    .link {
        font-size: .85rem;
    }
}

@media (min-width: 1024px) {
    .logo {
        margin-left: 1rem;
        font-size: 1.4rem;
        flex: 3;
    }
    .nav-links {
        width: 30%;
    }
    .link {
        font-size: 1rem;
    }
}